<div>
    <h1>Football Figures</h1>
</div>
<hr>
<%= button_to 'Upload a picture', new_picture_path, :method => "get" %>

<%= form_tag(pictures_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Pictures" %>
<%= submit_tag "Search" %>
<% end %>

<ul>
    <% @pictures.each do |picture| %>
        <li>
            <strong> Name: <%= picture.name %> </strong><br>
            <%= link_to image_tag(picture.url,:size => "70x100"), picture %><br>
            <%= link_to 'Edit', edit_picture_path(picture) %> |
            <%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
        <br>
    <% end %>
</ul>

  <div class="footer">
    &copy; Arvin Hadisurya
  </div>

<br>
