<p id="notice"><%= notice %></p>

<h1>Football Figures</h1>

<%= link_to 'New Picture', new_picture_path %>

<ul>
    <% @pictures.each do |picture| %>
        <li>
            <strong> Name: <%= picture.name %> </strong><br>
            <strong> Description: <%= picture.description %> </strong><br>
            <strong> <%= image_tag picture.url %> </strong><br>
            <%= link_to 'Show', picture %>
            <%= link_to 'Edit', edit_picture_path(picture) %>
            <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
    <% end %>
</ul>

<br>
