<div class="webcontainer">
<h1>Meet Today's Football Superstar!</h1>

<hr>
<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>

<p>
  <%= image_tag @picture.url, :size => "300x500" %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path, :class => 'back' %>



<div>
